body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #6583f0;
}

td input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #e5b1b1;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

td input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

td input[type="text"]::placeholder {
  color: #aaa;
}

/* Agregar estilos específicos para las primeras columnas (Paises) */
td:first-child {
  font-weight: bold;
  background-color: #a9e4ff;
}

td:first-child input[type="text"] {
  font-weight: normal;
  background-color: #ff1313;
}
